
.DS_Store
/deprecated/
App.log
/out/
*.class
*.log
/.idea/
/target/
/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/test-classes/
*.jar
App.log
NUL:
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
