.withicon {    
    -fx-background-position: right 4px center;
    -fx-background-size: 14;
    -fx-background-repeat: no-repeat;
}

.showing {
    -fx-background-image: url("view/img/eye-slash.png");
}

.hiding {
    -fx-background-image: url("view/img/eye-slash.png");
}