.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: white;
    textFill: rgb(0, 236, 165);
}

.pane {
    -fx-background-color: rgb(0, 236, 165);
}

.field{
    -fx-background-color: #fde053;
    -fx-text-fill: white;
}