.button {
    -fx-background-color: transparent;
}

.button:hover {
    -fx-background-color: white;
    textFill: rgb(0, 236, 165);
}

.loginLogo {
    -fx-background-color: #763dee;
}

.pane:hover {
    -fx-background-color: rgba(255,51,61,0.83);
}

.field{
    -fx-background-color: transparent;
    -fx-text-fill: #727272;
}

.burgerButton:hover {
    -fx-border-radius: 100;
    -fx-border-color: white;
}

.scrollPaneCalendar {
    -fx-background: transparent;
}

.scroll-pane > .corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
    -fx-background-radius: 5em;
}